@page
@model SWE30003_Group5_Koala.Pages.Manage.OrdersManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.UserID)
        </dd>
    </dl>
</div>
<div>
    <h4>Order Items</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderItems.First().MenuItem.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderItems.First().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderItems.First().SubTotal)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>@item.MenuItem.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.SubTotal.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
