@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Home page</p>

@*     Test purpose to check cookie exist only, can comment later if don't want*@    
    <p>User ID: @Model.userID</p>
    <p>User Name: @Model.userName</p>
    <p>User Email: @Model.userEmail</p>
    <p>User Phone Number: @Model.userPhoneNumber</p>
    <p>User Role: @Model.userRole</p>
    <p>User Password: @Model.userPassword</p>
</div>
